<button type="button" class="btn">Base class</button>

<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>



 <button type="button" (click)="Onclick()" class="btn btn-primary">dasdasda</button>



<atoms-buton
  (buttonClick)="Onclick1()"
  buttonClass="btn"
  buttonColor="dark"
  buttonLabel="Action Deneme"
></atoms-buton>


<atoms-buton
  buttonColor="success"
  buttonClass="btn"
  buttonLabel="Usta Serhat"
>


</atoms-buton>
